{% for etudiant in etudiants %}
	<tr>
		<td>{{etudiant.codeins}}</td>
		<td>{{etudiant.nom}}</td>
		<td>{{etudiant.Prenom}}</td>
		<td>{{etudiant.CIN}}</td>
		<td>{{etudiant.email}}</td>
		<td>
			<a class="btn btn-outline-primary " href="{{path('app_show_etudiant' ,{'cin':etudiant.cin})}}">
				<i class="bi bi-eye"></i>
			</a>
			<a class="btn btn-outline-primary " href="{{path('app_edit_etudiant' ,{'cin':etudiant.cin})}}">
				<i class="bi bi-pencil-square"></i>
			</a>
			<a class="btn btn-outline-primary " onclick="return confirm('Are you sure?')" href="{{path('app_delete_etudiant' ,{'cin':etudiant.cin})}}">
				<i class="bi bi-person-x"></i>
			</a>
		</td>
	</tr>
{% endfor %}
