{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	<h1 class="container mt-4">{{etudiants.prenom |upper}}
		{{etudiants.nom  |upper}}</h1>
	<div class="container mt-3">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Code inscrit</th>
					<th scope="col">Nom Étudiant</th>
					<th scope="col">Prénom Étudiant</th>
					<th scope="col">CIN Étudiant</th>
					<th scope="col">Email Étudiant</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{etudiants.codeins}}</td>
					<td>{{etudiants.nom}}</td>
					<td>{{etudiants.Prenom}}</td>
					<td>{{etudiants.CIN}}</td>
					<td>{{etudiants.email}}</td>
					<td>
						<a class="btn btn-outline-primary " href="{{path('app_show_etudiant' ,{'cin':etudiants.cin})}}">
								<i class="bi bi-eye"></i>
							</a>
							<a class="btn btn-outline-primary " href="{{path('app_edit_etudiant' ,{'cin':etudiants.cin})}}">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a class="btn btn-outline-primary " onclick="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?')" href="{{path('app_delete_etudiant' ,{'cin':etudiants.cin})}}">
								<i class="bi bi-person-x"></i>
							</a>
							<a class="btn btn-outline-primary " href="{{path('app_shownote_etudiant' ,{'cin':etudiants.cin})}}">
								<i class="bi bi-journal-text"></i>
							</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>{% endblock %}
