{% extends 'base.html.twig' %}

{% block title %}Matieres index
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Liste des matières</h1>
				<a class="btn btn-success mt-2" href="{{path('app_matieres_new') }}">Créer un nouveau</a>
		<table class="table mt-3">
			<thead>
				<tr>
					<th>Code Matière</th>
					<th>Designation Matière
					</th>
					<th>Coefficient Matière</th>
					<th>Actions </th>
				</tr>
			</thead>
			<tbody>
				{% for matiere in matieres %}
					<tr>
						<td>{{ matiere.codeMat }}</td>
						<td>{{ matiere.designation }}</td>
						<td>{{ matiere.coefficient }}</td>
						<td>
							<a class="btn btn-outline-primary  mt-2" href="{{ path('app_matieres_show', {'id': matiere.id}) }}">
								<i class="bi bi-eye"></i>
							</a>
							<a class="btn btn-outline-primary  mt-2" href="{{ path('app_matieres_edit', {'id': matiere.id}) }}">
								<i class="bi bi-pencil-square"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Aucun enregistrement trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
