{% extends 'base.html.twig' %}

{% block title %}Matieres
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Matiere
			{{matiere.designation}}</h1>
		<table class="table">
			<tbody>
				<tr>
					<th>Code matière
					</th>
					<td>{{ matiere.codeMat }}</td>
				</tr>
				<tr>
					<th>Designation matière</th>
					<td>{{ matiere.designation }}</td>
				</tr>
				<tr>
					<th>Coefficient matière</th>
					<td>{{ matiere.coefficient }}</td>
				</tr>
			</tbody>
		</table>

		<a class="btn btn-primary mt-2" href="{{ path('app_matieres_index') }}">Retour à la liste</a>

		<a class="btn btn-primary mt-2" href="{{ path('app_matieres_edit', {'id': matiere.id}) }}">Modifier</a>


	</div>

	{{ include('matieres/_delete_form.html.twig') }}
{% endblock %}
